body {
    background-color: lightgray;
}
#dusclops {
    float: right;
    position:relative;
    right: 0;
    top: 0;
    height: 187;
    width: 187;
}
#claydol {
    float: left;
    position: relative;
    left: 0;
    height: 187;
    width: 187;
}
#container {
    width:auto;
}
#damageCalc{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}